nav img {
    width: 15rem;
}

#Mis-trabajos {
    background-color: midnightblue;
}

#Hero-Section {
    background-color:lightseagreen;
}

a {
    text-decoration: none;
}

button {
    width: 7rem;
}

.image-top {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

#Hero-Section img {
    width: 200px;
}

@media (max-width: 576px) {
    footer {
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    nav a {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    footer {
        font-size: 1.5rem;
    }
}